/* reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #000;
}

/* header styling */
header {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    max-width: 1460px;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    min-width: 1000px;
}

a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

/* logo styling */
.logo img {
    width: 150px;
    height: 50px;
}

/* navigation menu styling */
nav {
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav ul li:hover>a {
    background-color: #333;
    border-radius: 5px;
}

nav ul li:hover>ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #222;
    width: 150px;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul ul li {
    margin: 0;
}

nav ul ul li a {
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul ul li:hover {
    background-color: #333;
}

form {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

label {
    margin-right: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"],
input[type="button"],
button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

fieldset {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

legend {
    padding: 0 5px;
}

/* container styling */
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.container-wide {
    display: flex;
    flex-wrap: wrap;
    max-width: 1510px;
    margin: 0 auto;
    padding: 20px;
}

/* panel styling */
.panel {
    flex: 1;
    background-color: #111;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
    width: 50%;
    min-width: 1000px;
}

.panel-full {
    flex-basis: 100%;
    margin-right: 0;
}

.panel h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.panel p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* aside styling */
aside {
    flex: 0 0 18%;
    background-color: #333;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
}

aside h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

aside ul {
    list-style: none;
}

aside ul li {
    margin-bottom: 10px;
}

/* footer styling */
footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    max-width: 1460px;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
}

footer p {
    font-size: 14px;
}

/* table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
}

table th {
    font-weight: bold;
    background-color: #222;
}

table a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

table img {
    margin-right: 10px;
}

table a:hover {
    text-decoration: underline;
}


/* dark mode styling */
body.dark-mode {
    background-color: #000;
    color: #fff;
}

.dark-mode header {
    background-color: #000;
    border-radius: 10px 10px 10px 10px;
}

.dark-mode nav ul li a {
    color: #fff;
}

.dark-mode nav ul ul {
    background-color: #000;
}

.dark-mode aside {
    background-color: #222;
}

.dark-mode footer {
    background-color: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dark-mode footer p {
    color: #fff;
}

/* Button Styles */
.legality-button1,
.legality-button2,
.legality-button3 {
    border: none;
    color: #fff;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0;
    cursor: default;
    border-radius: 0;
}

/* First Button */
.legality-button-group .legality-button1:first-child {
    background-color: #111;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 80px;
}

/* Last Button */
.legality-button-group .legality-button2:last-child {
    background-color: #195e3f;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 80px;
}

.legality-button-group .legality-button3:last-child {
    background-color: #851d0d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 80px;
}

/* Disable hover and active states */
.legality-button1:hover,
.legality-button2:hover,
.legality-button1:active,
.legality-button2:active {
    background-color: #007bff;
    color: #fff;
    cursor: default;
}

/* Remove space between buttons */
.legality-button-group {
    display: inline-block;
    font-size: 0;
}

.legality-button-group .legality-button1,
.legality-button-group .legality-button2,
.legality-button-group .legality-button3 {
    font-size: 12px;
}

#deckviewer-wrapper {
    border: 1px solid #444;
    border-radius: 5px;
    margin: 0 auto;
}

#deckviewer-title {
    text-align: center;
    font-size: 20px;
    background-color: #222;
    padding: 10px;
}

#deckviewer {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    border-color: #444;
}

#deckviewer ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
    border: 1px solid #222;
    background: #222;
}

#deckviewer a {
    color: #fff;
}

#deckviewer p {
    color: #fff;
}

#deckviewer ul li {
    display: inline-block;
    margin-right: -4px;
    border-color: #222;
}

#deckviewer ul li a {
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #222;
    border-bottom: none;
    border-radius: 0 0 0 0;
    text-decoration: none;
    background: #222;
    border-color: #222;
    margin-bottom: 0px;
}

#deckviewer ul li a:hover {
    background: #222;
    border-bottom: none;
    border-color: #222;
    margin-bottom: 0px;
    border-radius: 0 0 0 0;
}

#deckviewer div {
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 10px;
}

.deck-list {
    position: relative;
    width: 110%;
    min-height: 513px;
    /* min-width: 1000px; */
}

.deck-list-right-image {
    position: absolute;
    right: 20%;
    height: 513px;
    width: 368px;
}

a.deck-card {
    margin-bottom: 0px;
}

.voted {
    color: white;
    background-color: #111;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 80px;
    border: none;
    color: #fff;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0;
    cursor: grab;
    margin-top: 16px;
}

.not-voted {
    color: white;
    background-color: #195e3f;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 80px;
    border: none;
    color: #fff;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0;
    cursor: grab;
    margin-top: 16px;
}

#vote-count {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#vote-container {
    display: flex;
    align-items: center;
}

#vote-count,
#vote-btn {
    margin-right: 10px;
}

#CopyButtonPTCGL {
    background-color: #195e3f;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#HandSimButton {
    background-color: #195e3f;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}